body {
  font-family: sans-serif;
  background-color: #ffffff;
}

header {
  background-color: #f80909;
  color: #ffffff;
}

h1 {
  text-align: center;
  font-size: 2em;
}

p {
  margin: 10px;
}

img {
  width: 100%;
}

footer {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
}